<!DOCTYPE html>
<html lang="en">
{% load my_tag %}
<head>
    <meta charset="UTF-8">
    <title>jack3933的个人博客</title>
    <link rel="stylesheet" href="/static/my/css/index.css">
    <link rel="stylesheet" href="/static/my/css/reset.css">
    <script src="/static/vue/vue.js"></script>
</head>
<body>
    <div id="app">
        <link rel="stylesheet" :href="'/static/my/css/theme/'+theme+'.css'">
        <nav>
            <div id="left">
                <a href="#">首页</a>
                <a href="#">新闻</a>
                <a href="#">心情</a>
                <a href="#">关于</a>
            </div>
            <div id="right">
                <img v-show="theme === 'dark'" src="/static/my/img/nav/light.svg" alt="" @click="setTheme('light')">
                <img v-show="theme === 'light'" src="/static/my/img/nav/dark.svg" alt="" @click="setTheme('dark')">
                <a href="#">登录</a>
                <a href="#">注册</a>
            </div>
        </nav>
        {% banner 'index' %}
        <main>
            内容区域
        </main>
        <footer>      
            <div class="left">
                <p class="thank">Thank for</p>
                <p class="site_info">
                    <span><img src="/static/my/img/footer/tencent.png" alt=""> 腾讯云服务器 </span>
                    <span><img src="/static/my/img/footer/tencent.png" alt=""> 腾讯云SSL证书 </span>
                    <span><img src="/static/my/img/footer/qiniu.png" alt=""> 七牛云存储 </span>
                </p>
                <p class="version">
                    <span>version</span>
                    <span>1.0.0</span>
                </p>
                <p>建站日期: 2022年12月27日</p>
                <p class="beian">
                    <a href="https://beian.mitt.gov.cn"><img src="/static/my/img/footer/beian.png" alt="">备案号</a>
                </p>
            </div>
            <div class="right">
                <div class="contact">
                    <img class="svg" src="/static/my/img/footer/qq_icon.svg" alt="">
                    <img class="qq" src="/static/my/img/footer/qq.png" alt="">
                </div>
                <p>
                    联系邮箱: 3099097649@qq.com
                </p>
            </div>
        </footer>
    </div>
    <script>
        new Vue({
            el: '#app',
            delimiters: [ "[[", "]]" ],
            data: {
                theme: 'light',   // 默认主题
            },
            created() {
                this.initTheme();

            },
            methods: {
                // 初始化主题
                initTheme() {
                    let theme = localStorage.getItem('theme')
                    if(theme) {
                        this.theme = theme;
                    }
                },
                // 设置主题
                setTheme(themeName) {
                    this.theme = themeName;
                    // 持久化储存
                    localStorage.setItem('theme', themeName);
                },
            },
        });
        let menu_imgs = document.querySelectorAll('.dynamic_shuffle');
        let menu_length = menu_imgs.length;
        let index = 0;
        let timer = null;
        clearInterval(timer);
        timer = setInterval(()=>{
            index++;
            if (index === menu_length) {
                index = 0;
            }
            for (let i of menu_imgs) {
                i.style.opacity = 0;
            }
            menu_imgs[index].style.opacity = 1;
        }, 2000)
    </script>
</body>
</html>