<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>vue模板指令</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        <div calss="name" v-if="flag">
            {{ name }}
        </div>
        <div v-else>
            if没匹配到
        </div>
        <div v-show="flag">
            {{ name }}
        </div>
        <ul>
            <li v-for="(item, index) in alist" :key="key1">
                {{ index+1 }}-{{ item }}
            </li>
        </ul>
        <ul>
            <li v-for="(item, key, index) in aobj">
                {{ key }}--{{ item }} -- {{ index+1 }}
            </li>
        </ul>
    </div>
    <script>
        new Vue({
            el: "#app",  // vue挂载的位置不能是body
            data: {
                flag: true,
                name: "kzw",
                alist: [
                    'A', 'B', 'C'
                ],
                aobj: {
                    name: "kzw",
                    age: 14,
                    addr: "Beijing"
                }
            }
        })
    </script>
</body>
</html>